{% extends "layout.html" %}
{% block content %}
     <h2>
       Connected devices:
     </h2>
        <table>
          {% for nodes in posts['nodes'] %}
            <tr>
              <th>
                <h3>
                  Devicekey:  <b class = "kleurtje">{{ nodes.deviceKey }}</b>
                </h3>
              </th>
              <th>
                <h3>
                  <a href="/remove/{{ nodes.deviceKey }}">Remove</a>
                  &emsp;
                  <a href="/devices/add/{{ nodes.deviceKey }}">Add to group</a>
                </h3>
              </th>
            </tr>
          {% endfor %}
        </table>
{% endblock content %}
